
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; bottom: 0; }
form input { border: 0; padding: 10px; width: 75%; margin-right: .5%; }
form button { width: 24%; background: rgb(130, 224, 255); border: none; padding: 10px; }

.App {
    max-width: 30%;
    max-height: 50%;
    height: 400px;
}

  #messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
  }
  
  #messages li { 
    padding: 5px 10px; 
  }
  
  #messages li:nth-child(odd) { 
    background: #eee; 
  }

  .connectionStatus {
    padding-top: 20px;
    margin-left: 5%;
    font-size: 1.5em;
  }

  .subscriber {
    margin-left: 10%;
  }

  .publisher {
    float: right;
    margin-right: 10%;
  }

  .OTPublisherContainer {
    width: 80vh !important;
    height: 80vh !important;
  }

  #error {
    color: red;
  }
  
  .subscriber-form {
    max-width: 30%;
    margin: 50px auto;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px 5px grey;
  }
  
  .subscriber-form h1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5c5c5c;
    font-size: x-large;
  }
  
  .subscriber-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .subscriber-form li {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
  }
  
  .subscriber-form li:last-child {
    border: none;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .subscriber-form li > label {
    display: block;
      float: left;
      margin-top: -19px;
      background: #FFFFFF;
      height: 14px;
      padding: 2px 5px 2px 5px;
      color: #B9B9B9;
      font-size: 14px;
      overflow: hidden;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .subscriber-form input[type=text] {
    box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      display: block;
      outline: none;
      border: none;
      height: 25px;
      line-height: 25px;
      font-size: 16px;
      padding: 0;
      font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .subscriber-form li > span{
      background: #F3F3F3;
      display: block;
      padding: 3px;
      margin: 0 -9px -9px -9px;
      text-align: center;
      color: #C0C0C0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
  }
  
  .subscriber-form textarea {
      resize:none;
  }
  
  .subscriber-form input[type=submit],
  .subscriber-form input[type=button] {
      background: #2471FF;
      border: none;
      padding: 10px 20px 10px 20px;
      border-bottom: 3px solid #5994FF;
      border-radius: 3px;
      color: #D2E2FF;
  }
  
  .subscriber-form input[type=submit]:hover,
  .subscriber-form input[type=button]:hover {
      background: #6B9FFF;
      color:#fff;
  }